.App {
  text-align: center;
}

body{
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
}

#root{
  height: auto;
}

.container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.card{
  width:450px;
  height:auto;
  margin-top: 10%;
  border-radius: 0.5em !important;
  background-color: hsl(217, 19%, 24%) !important;
  margin-right: 5%;
  z-index: 99999;
}

.card-id{
  position: relative;
  color: hsl(150, 100%, 66%);
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 4px;
  margin: 45px 0 20px 0;
}

.card-advice{
  position: relative;
  text-align: center;
  word-wrap: break-word;
  font-size: 28px;
  font-weight: 800;
  color: hsl(193, 38%, 86%);
  padding: 0 45px 0 45px;
}

.divider{
margin-bottom: 50px;
position: relative;
padding: 0 25px 0 25px;
}

.dice-button{
 position: absolute;
 left:44%;
 top: 90%;
 display: flex;
 justify-content: center;
 background-color: hsl(150, 100%, 66%);
 border-radius: 50%;
 border: none;
 height: 50px;
 width: 50px;
 z-index: 1;
}

.dice-button:hover, .dice-button:active{
  box-shadow: 1px 1px 15px 3px #53ffab;
}


.icon-dice{
  display: flex;
  justify-content: center;
  align-self: center;
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 576px) {
  .dice-button, .icon-dice{
    top:95%;
    left:42%;
  }
  .card{
    margin-top: 0%;
    margin-right: 0%;
  }
}

 @media screen and (min-width: 667px) and (max-width: 915px) {
    .dice-button, .dice-button{
      top:91%;
      left:44%;
    }
    .card{
      margin-top: -5%;
      margin-right: 0%;
    }
 }